
.background {
  background-image: url(../imagens/backgorund.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
.background h1 {
  color: #316194;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  font-size: 25px;
}
.background img{
  margin: 0px;
  padding: 0px;
}
.cartao p {
  margin: 0px;
  padding: 0px 50px 0px 20px;

}
a[href] {
  color: #316194;
  cursor: pointer;
  text-decoration: none;
  font-weight:bold;

}
